<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div>
            <ul id="app"> 
                <li v-for="(todo, index, name) in todos">
                    {{ todo.text }}-{{ index }}
                </li>
            </ul>
        </div>

        <div id="app-2">
            <ul>
                <li v-for="(value, name, index) of object" v-bind:key="value.id">
                    {{ index }}-{{ name }}-{{ value }}
                </li>
            </ul>
        </div>
        <script src="for.js"></script>
    </body>
</html>